


<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
 <img src="/assets/logoemail.jpg" alt="">
<p>

We got your message and will get back to you shortly.
In the meantime, feel free to join our community !
  This  is an feedback mail from Kasturi Infotec ,thanks for showing a intrest on US  .we are help you on your ideas .
we have the experts on web technology to solve your problem
<p>
thanks again for showing intrest with our Company
Contactus:020-65116622
Warm Regards
Kasturi Infotec
</p>
</p>
</body>
</html>