<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="span3 social">
          <h3>Follow Us</h3>
          <p>Follow us in social media</p>
          <a class="sbtnf sbtnf-rounded color color-hover icon-facebook" href="https://www.facebook.com/kasturinfotec" target="_blank"></a>
          <a class="sbtnf sbtnf-rounded color color-hover icon-twitter" href="https://twitter.com/Kasturi_Infotec" target="_blank"></a>
          <a class="sbtnf sbtnf-rounded color color-hover icon-gplus" href="https://plus.google.com/u/0/b/118119139227370453432/118119139227370453432/about" target="_blank" ></a>
          <a class="sbtnf sbtnf-rounded color color-hover icon-linkedin" href="http://www.linkedin.com/company/kasturi-infotec" target="_blank"></a>
        </div>
        <div class="span3 newsletter">
       
         
        </div>
        <div class="span3 nav-box">
         
        </div>
        <div class="span3 nav-box">
          <h3>Quick Navigation</h3>
		  <nav>
			<ul>
			  <li><a href="/index">Home</a></li>
			  <li><a href="/about_us">About us</a></li>
			  <li><a href="/our_works">Our Works</a></li>
			  <li><a href="/services">Services</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/contact_us">Contact us</a></li>
			</ul>
		  </nav>
        </div>
      </div>
    </div>
  </div><!-- .footer-top -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="span3 copyright">Copyright &copy; Kasturi Infotec 2013</div>
        <div class="span3 phone">
          <div class="footer-icon">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
			  <path fill="#c6c6c6" d="M11.001,0H5C3.896,0,3,0.896,3,2c0,0.273,0,11.727,0,12c0,1.104,0.896,2,2,2h6c1.104,0,2-0.896,2-2
			   c0-0.273,0-11.727,0-12C13.001,0.896,12.105,0,11.001,0z M8,15c-0.552,0-1-0.447-1-1s0.448-1,1-1s1,0.447,1,1S8.553,15,8,15z
				M11.001,12H5V2h6V12z"/>
			</svg>
		  </div>
          <strong class="title">Call Us:</strong> (020) 6611 2277<br>
          <strong class="title">Phone No:</strong>(+91) 8087637214
        </div>
        <div class="span3 address">
          <div class="footer-icon">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
			  <g>
				<g>
				  <path fill="#c6c6c6" d="M8,16c-0.256,0-0.512-0.098-0.707-0.293C7.077,15.491,2,10.364,2,6c0-3.309,2.691-6,6-6
					c3.309,0,6,2.691,6,6c0,4.364-5.077,9.491-5.293,9.707C8.512,15.902,8.256,16,8,16z M8,2C5.795,2,4,3.794,4,6
					c0,2.496,2.459,5.799,4,7.536c1.541-1.737,4-5.04,4-7.536C12.001,3.794,10.206,2,8,2z"/>
				</g>
				<g>
				  <circle fill="#c6c6c6" cx="8.001" cy="6" r="2"/>
				</g>
			  </g>
			</svg>
		  </div>
          2nd Floor, Kasturi Heights,CTS No: 4522,Plot No:6<br> Near Chinchwad Station, Chinchwad, Pune-411019.
        </div>
        <div class="span3">
          <a href="#" class="up pull-right"><i class="icon-arrow-up icon-white"></i></a>
        </div>
      </div>
    </div>