<header class="header header-two" background="big.jpg">

  <div class="container">
	<div class="row">

	  <div class="span2 logo-box">

		<a href="/index" class="logo">
		  <img src="/assets/logo.png" class="logo-img"style="width :250px; height :90px" align="left"alt="">
		</a>
	  </div>
	  <br>
	  <div class="span7 primary">
		<div class="navbar">
		
		  <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".primary .nav-collapse">
			<span class="text">Menu</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		  <nav class="nav-collapse collapse">
			<ul class="nav">
			  <li class="parent">
				<a href="/index">Home</a>
			 </li>
			   <li class="parent">
				<a href="/about_us">About us</a>
				
			  </li>
			  <li class="parent">
				<a href="/our_works">Our Works</a>
				
			  </li>
			  <li class="parent">
				<a href="/services">Services</a>
				
			  </li>
			  <li class="parent megamenu">
				<a href="/careers">Careers</a>
			
			  </li>
			  
			
			  <li class="parent">
				<a href="/contact_us">Contact us</a>
				
			  </li>
			</ul>
		  </nav>
		</div>
	  </div><!-- .primary -->
	 
	</div><!--.row -->
  </div>
</header><!-- .header -->