@font-face {
  font-family: 'social-icons';
  src: url("/assets/social-icons21aa.html?28036741");
  src: url("/assets/social-icons21aa.html?28036741#iefix") format('embedded-opentype'), url("/assets/social-icons21aa-2.html?28036741") format('woff'), url("../../fonts/social-icons21aa-3.html?28036741") format('truetype'), url("../../fonts/social-icons21aa.svg?28036741#social-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'social-icons';
    src: url('../fonts/social-icons.svg?28036741#social-icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'social-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-duckduckgo:before { content: '\21'; } /* '!' */
.icon-aim:before { content: '\22'; } /* '&quot;' */
.icon-delicious:before { content: '\23'; } /* '#' */
.icon-paypal:before { content: '\24'; } /* '$' */
.icon-flattr:before { content: '\25'; } /* '%' */
.icon-android:before { content: '\26'; } /* '&amp;' */
.icon-eventful:before { content: '\27'; } /* ''' */
.icon-smashmag:before { content: '\2a'; } /* '*' */
.icon-gplus:before { content: '\2b'; } /* '+' */
.icon-wikipedia:before { content: '\2c'; } /* ',' */
.icon-lanyrd:before { content: '\2d'; } /* '-' */
.icon-calendar:before { content: '\2e'; } /* '.' */
.icon-stumbleupon:before { content: '\2f'; } /* '/' */
.icon-fivehundredpx:before { content: '\30'; } /* '0' */
.icon-pinterest:before { content: '\31'; } /* '1' */
.icon-bitcoin:before { content: '\32'; } /* '2' */
.icon-w3c:before { content: '\33'; } /* '3' */
.icon-foursquare:before { content: '\34'; } /* '4' */
.icon-html5:before { content: '\35'; } /* '5' */
.icon-ie:before { content: '\36'; } /* '6' */
.icon-call:before { content: '\37'; } /* '7' */
.icon-grooveshark:before { content: '\38'; } /* '8' */
.icon-ninetyninedesigns:before { content: '\39'; } /* '9' */
.icon-forrst:before { content: '\3a'; } /* ':' */
.icon-digg:before { content: '\3b'; } /* ';' */
.icon-spotify:before { content: '\3d'; } /* '=' */
.icon-reddit:before { content: '\3e'; } /* '&gt;' */
.icon-guest:before { content: '\3f'; } /* '?' */
.icon-gowalla:before { content: '\40'; } /* '@' */
.icon-appstore:before { content: '\41'; } /* 'A' */
.icon-blogger:before { content: '\42'; } /* 'B' */
.icon-cc:before { content: '\43'; } /* 'C' */
.icon-dribbble:before { content: '\44'; } /* 'D' */
.icon-evernote:before { content: '\45'; } /* 'E' */
.icon-flickr:before { content: '\46'; } /* 'F' */
.icon-google:before { content: '\47'; } /* 'G' */
.icon-viadeo:before { content: '\48'; } /* 'H' */
.icon-instapaper:before { content: '\49'; } /* 'I' */
.icon-weibo:before { content: '\4a'; } /* 'J' */
.icon-klout:before { content: '\4b'; } /* 'K' */
.icon-linkedin:before { content: '\4c'; } /* 'L' */
.icon-meetup:before { content: '\4d'; } /* 'M' */
.icon-vk:before { content: '\4e'; } /* 'N' */
.icon-plancast:before { content: '\50'; } /* 'P' */
.icon-disqus:before { content: '\51'; } /* 'Q' */
.icon-rss:before { content: '\52'; } /* 'R' */
.icon-skype:before { content: '\53'; } /* 'S' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-youtube:before { content: '\55'; } /* 'U' */
.icon-vimeo:before { content: '\56'; } /* 'V' */
.icon-windows:before { content: '\57'; } /* 'W' */
.icon-xing:before { content: '\58'; } /* 'X' */
.icon-yahoo:before { content: '\59'; } /* 'Y' */
.icon-chrome:before { content: '\5b'; } /* '[' */
.icon-email:before { content: '\5d'; } /* ']' */
.icon-macstore:before { content: '\5e'; } /* '^' */
.icon-myspace:before { content: '\5f'; } /* '_' */
.icon-podcast:before { content: '\60'; } /* '`' */
.icon-amazon:before { content: '\61'; } /* 'a' */
.icon-steam:before { content: '\62'; } /* 'b' */
.icon-cloudapp:before { content: '\63'; } /* 'c' */
.icon-dropbox:before { content: '\64'; } /* 'd' */
.icon-ebay:before { content: '\65'; } /* 'e' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-github:before { content: '\67'; } /* 'g' */
.icon-googleplay:before { content: '\68'; } /* 'h' */
.icon-itunes:before { content: '\69'; } /* 'i' */
.icon-plurk:before { content: '\6a'; } /* 'j' */
.icon-songkick:before { content: '\6b'; } /* 'k' */
.icon-lastfm:before { content: '\6c'; } /* 'l' */
.icon-gmail:before { content: '\6d'; } /* 'm' */
.icon-pinboard:before { content: '\6e'; } /* 'n' */
.icon-openid:before { content: '\6f'; } /* 'o' */
.icon-quora:before { content: '\71'; } /* 'q' */
.icon-soundcloud:before { content: '\73'; } /* 's' */
.icon-tumblr:before { content: '\74'; } /* 't' */
.icon-eventasaurus:before { content: '\76'; } /* 'v' */
.icon-wordpress:before { content: '\77'; } /* 'w' */
.icon-yelp:before { content: '\79'; } /* 'y' */
.icon-intensedebate:before { content: '\7b'; } /* '{' */
.icon-eventbrite:before { content: '\7c'; } /* '|' */
.icon-scribd:before { content: '\7d'; } /* '}' */
.icon-posterous:before { content: '\7e'; } /* '~' */
.icon-stripe:before { content: '\a3'; } /* '£' */
.icon-opentable:before { content: '\c7'; } /* 'Ç' */
.icon-cart:before { content: '\c9'; } /* 'É' */
.icon-print:before { content: '\d1'; } /* 'Ñ' */
.icon-angellist:before { content: '\d6'; } /* 'Ö' */
.icon-instagram:before { content: '\dc'; } /* 'Ü' */
.icon-dwolla:before { content: '\e0'; } /* 'à' */
.icon-appnet:before { content: '\e1'; } /* 'á' */
.icon-statusnet:before { content: '\e2'; } /* 'â' */
.icon-acrobat:before { content: '\e3'; } /* 'ã' */
.icon-drupal:before { content: '\e4'; } /* 'ä' */
.icon-buffer:before { content: '\e5'; } /* 'å' */
.icon-pocket:before { content: '\e7'; } /* 'ç' */
.icon-bitbucket:before { content: '\e9'; } /* 'é' */